<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>快递信息管理系统</title>
  <link rel="shortcut icon" th:href="@{images/favicon.ico}" />

  <!-- Bootstrap -->
  <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <link th:href="@{/css/response.css}" rel="stylesheet">
  <link th:href="@{/css/silde.css}" rel="stylesheet">
  <!--layui-->
  <link th:href="@{/css/layui.css}" rel="stylesheet" >
  <link th:href="@{/css/modules/layer/default/layer.css}" rel="stylesheet" >

</head>
<body>
<div class="header">
  <div class="width1003">
    <h1 class="logo"><a href="/toPage?url=/main"><img src="images/favicon.jpg" width="140" height="140" /></a></h1>
    <div class="topLink">
      <a href="/toPage?url=/contact" class="tl1">联系我们</a>
      <a href="/toPage?url=/tousu" class="tl2">投诉建议</a>
      <a href="/toPage?url=/job" class="tl3">人才招聘</a>
    </div><!--topLink/-->
    <div class="phones">
      <!--登录注册功能点击事件还未启动-->
      <div>
        用户：<a th:text="${session.loginUser}+'&nbsp&nbsp&nbsp&nbsp'"></a>
        <a th:if="${session.loginUser}==null" href="javascript:;" onclick="login">登录</a>&nbsp;

        <a th:if="${session.loginUser}==null" href="javascript:;" onclick="regist">注册</a>
        <a th:if="${session.loginUser}!=null" href="javascript:;" onclick="loginout">注销</a>

      </div>
      <p>服务热线：<strong>201821314424</strong></p>
    </div><!--phones/-->
    <div class="clears"></div>
  </div><!--width1003/-->
</div><!--header/-->
<div class="nav-toggle">
  <div class="nav-open"><span class="glyphicon glyphicon-th-list"></span></div>
  <div class="nav-close"><span class="glyphicon glyphicon-remove"></span></div>
</div>
<div class="clearfix"></div>

<!--导航栏-->
<div class="nav">
  <ul class="width1003">
    <li><a href="/toPage?url=/main">首页</a></li>
    <li><a href="/toPage?url=/service">服务大厅</a>
      <div class="chilNav">
        <a href="/toPage?url=/service">操作步骤</a>
        <a href="/toPage?url=/service2">快递服务标准</a>
        <a href="/toPage?url=/service3">违禁品信息</a>
        <a href="/toPage?url=/tousu">投诉建议</a>
      </div>

    </li>
    <li><a href="/toPage?url=/search">自助查询</a>
      <div class="chilNav">
        <a href="/toPage?url=/search">快件查询</a>
        <a href="/toPage?url=/search2">网点查询</a>
        <a href="/toPage?url=/search3">订单查询</a>
        <a href="/toPage?url=/search4">运费查询</a>
      </div>
    </li>
    <li><a href="/toPage?url=/product">产品与服务</a>
      <div class="chilNav">
        <a href="/toPage?url=/product">快运产品</a>
        <a href="/toPage?url=/product">定制产品</a>
        <a href="/toPage?url=/product">增值服务</a>
        <a href="/toPage?url=/product">整车转运</a>
        <a href="/toPage?url=/product">仓储物流</a>
      </div>
    </li>
    <li><a href="/toPage?url=/join">加入我们</a>
      <div class="chilNav">
        <a href="/toPage?url=/join">加盟指南</a>
        <a href="/toPage?url=/job">人才招聘</a>
      </div>
    </li>

    <li><a href="/toPage?url=/news">新闻公告</a>
      <div class="chilNav">
        <a href="/toPage?url=/news">新闻</a>
        <a href="/toPage?url=/news">公告</a>
      </div>
    </li>
    <li><a href="/toPage?url=/about">走进我们</a>
      <div class="chilNav">
        <a href="/toPage?url=/about">简介</a>
        <a href="/toPage?url=/contact">联系我们</a>
      </div>
    </li>
    <div class="clears"></div>
  </ul>
</div><!--nav/-->

<div class="content">
  <div class="width1003">
    <div class="content-left">
      <h2 class="left-title">产品与服务</h2>
      <ul class="leftNav">
        <li><a href="/toPage?url=/product">快运产品</a></li>
        <li><a href="/toPage?url=/product2">定制产品</a></li>
        <li><a href="/toPage?url=/product3">增值服务</a></li>
        <li><a href="/toPage?url=/product4">整车转运</a></li>
        <li class="leftNavCur"><a href="/toPage?url=/product5">仓储物流</a></li>
      </ul>
      <div class="lefticon">
        <a href="javascript:;"><img src="images/icon1.jpg" /><br />联系</a>
        <a href="javascript:;"><img src="images/icon2.jpg" /><br />投诉</a>
        <a href="javascript:;"><img src="images/icon3.jpg" /><br />招聘</a>
      </div>
    </div><!--content-left/-->
    <div class="content-right">
      <h2 class="right-title">仓储服务</h2>
      <div class="Article">
        <h2 class="right-title"><strong style="font-size:1.8rem;">仓储服务</strong></h2>
        <strong style="font-size:1.5rem;"> 业务介绍</strong><br/>
        云仓专注为电商企业提供仓储、配送一体化服务运营，致力于成为仓配一体化行业标杆企业<br/>
        <strong style="font-size:1.5rem;"> 业务特色：</strong><br />
        主要服务对象是电商企业经营中有仓储、加工、配送需求的商家。包含但不限于电商平台类企业、运营商家及独立B2C企业等。可以“一地建仓，发货全国”，也可以“全国分仓，就近发货”
        <br/>
        <strong style="font-size:1.5rem;"> 服务优势</strong><br/>
        <strong style="font-size:1rem;"> 专业化仓库</strong><br/>
        统一高标仓+高存储货架+自动喷淋+24小时动态智能监控+千万级财产保险，库内操作全面支持WMS管理和仓内货物条码管理，按统一标准化流程实现精细化操作。<br/>
        <strong style="font-size:1rem;"> 一站式订单代操作服务</strong><br/>
        帮助客户完成商品入库、质检、上架、存储、分拣、打包、配单、指派、出库、退换货等一系列操作。<br/>
      </div>
    </div><!--content-right/-->
    <div class="clearfix"></div>
  </div><!--width1003/-->
</div><!--content/-->

<!--底部栏-->
<footer>
  <div class="width1003">
    <ul>
      <li class="ft-title">服务大厅</li>
      <li><a href="/toPage?url=/service">操作步骤</a></li>
      <li><a href="/toPage?url=/service2">快递服务标准</a></li>
      <li><a href="/toPage?url=/service3">违禁品信息</a></li>
      <li><a href="/toPage?url=/tousu">投诉建议</a></li>
    </ul>
    <ul>
      <li class="ft-title">自助查询</li>
      <li><a href="/toPage?url=/search">快件查询</a></li>
      <li><a href="/toPage?url=/search2">网点查询</a></li>
      <li><a href="/toPage?url=/search3">订单查询</a></li>
      <li><a href="/toPage?url=/search4">运费查询</a></li>
    </ul>
    <ul>
      <li class="ft-title">产品与服务</li>
      <li><a href="/toPage?url=/product">快运产品</a></li>
      <li><a href="/toPage?url=/product">定制产品</a></li>
      <li><a href="/toPage?url=/product">增值服务</a></li>
      <li><a href="/toPage?url=/product">整车转运</a></li>
      <li><a href="/toPage?url=/product">仓储物流</a></li>
    </ul>
    <ul>
      <li class="ft-title">加入我们</li>
      <li><a href="/toPage?url=/join">加盟指南</a></li>
      <li><a href="/toPage?url=/job">人才招聘</a></li>
    </ul>
    <ul>
      <li class="ft-title">新闻公告</li>
      <li><a href="/toPage?url=/news">新闻</a></li>
      <li><a href="/toPage?url=/news">公告</a></li>
    </ul>
    <ul>
      <li class="ft-title">走进我们</li>
      <li><a href="/toPage?url=/about">简介</a></li>
      <li><a href="/toPage?url=/contact">联系我们</a></li>
    </ul>
    <div class="footcontact">
      <h2 class="ft-title">联系我们</h2>
      <div class="fttext">
        咨询热线：800-88888888<br />
        总部地址：广东省广州市<br />
      </div>

    </div><!--footcontact/-->
    <div class="clearfix"></div>
  </div><!--width1003/-->
</footer>
<div class="copy">
  Copyright © 2021
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/style.js"></script>
<!--焦点轮换-->
<script src="js/jquery.excoloSlider.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true
  });
</script>
<script type="text/javascript">
  $(function(){
    //导航定位
    $(".nav li:eq(3) a:first").addClass("navCur");
  })
</script>

</body>
</html>